body {
    height: 100vh;
    background-color: rgb(255, 255, 255);
}

.body__box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 40px;
}

.body__titulo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: black;
    width: 760px;
}

.body__item {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: rgb(255, 255, 255);
}

.body__box--displaygrid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    grid-template-areas:
        "a a b c"
        "a a d e"
        "f f g g"
        "f f g g";
    gap: 50px;
    height: 800px;
    width: 1400px;
    background-color: black;
    padding: 30px;
}

.body__box--grid {
    grid-area: a;
    height: 108%;
    width: 100%;
    overflow: hidden;
    margin-top: 40px;

}

.body__box--grid2 {
    grid-area: b;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.body__box--grid3 {
    grid-area: c;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.body__box--grid4 {
    grid-area: d;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.body__box--grid5 {
    grid-area: e;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.body__box--grid6 {
    grid-area: f;
    height: 100%;
    width: 100%;
    overflow: hidden;

}

.body__box--grid7 {
    grid-area: g;
    overflow: hidden;
    height: 100%;
    width: 100%;

}

.body__img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.body__img--tamaño {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.body__box--displaygridpequeño {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    grid-template-areas:
        "a b b b b"
        "a b b b b";
    height: 300px;
    width: 1400px;
    overflow: hidden;
    background-color: black;
    padding: 30px;
    margin-bottom: 30px;

}

.body__box--displayflex {
    display: flex;
    grid-area: a;
    background-color: rgb(137, 238, 146);
    height: 100%;
    width: 100%;
    overflow: hidden;
    padding: 10px;

}

.body__texto {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: rgb(255, 255, 255);
    padding: 10px;
    justify-content: center;
    align-items: center;
}

.body__box--displayflexgrande {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    grid-area: b;
    background-color: black;
    height: 100%;
    width: 100%;
    gap: 60px;
    padding: 5px;
    overflow: hidden;
}

.body__img--borderradius {
    height: 100%;
    width: 100%;
    overflow: hidden;
    object-fit: cover;
    border-radius: 180%;
}